@{
	ViewData["Title"] = "Home Page";
}

<ul>
	<li><a asp-action="TestIf">Test If</a></li>
	<li><a asp-action="TestSwitch">Test Switch</a></li>
	<li><a asp-action="TestForeach">Test Foreach</a></li>
</ul>