<h2>Test 1</h2>

<switch expression="2">
	<case value="1"><p>Should not display 1.</p></case>
	<case value="2"><p>Should display.</p></case>
	<case value="3"><p>Should not display 2.</p></case>
</switch>

<h2>Test 2</h2>

<switch expression="4">
	<case value="1"><p>Should not display 1.</p></case>
	<case value="2"><p>Should not display 2.</p></case>
	<case value="3"><p>Should not display 3.</p></case>
	<default><p>Should display.</p></default>
</switch>
