<h2>Test 1</h2>
<if condition="true">
	<then>
		<p>Should display.</p>
	</then>
</if>

<h2>Test 2</h2>
<if condition="true">
	<then><p>Should display.</p></then>
	<else><p>Should not display.</p></else>
</if>

<h2>Test 3</h2>
<if condition="false">
	<then><p>Should not display.</p></then>
	<else><p>Should display.</p></else>
</if>

<h2>Test 4</h2>
@try
{
<if condition="false">
	<then>Should not display 1.</then>
	<then>Should not display 2.</then>
</if>
}
catch (Exception ex)
{
	<p>Expected exception occurred: '@ex.Message'.</p>
}

<h2>Test 5</h2>
@try
{
<if condition="false">
	<else>Should not display 1.</else>
	<else>Should not display 2.</else>
</if>
}
catch (Exception ex)
{
	<p>Expected exception occurred: '@ex.Message'.</p>
}