<h2>Test 1</h2>

<switch expression="2">
	<case value="1"><p>Should not display 1.</p></case>
	<case value="2"><p>Should display.</p></case>
	<case value="3"><p>Should not display 2.</p></case>
</switch>