<h2>Test 1</h2>

@{ var x = 0; }
<do condition="() => x < 10">
	@{ x++; }
	<p>Should display @x.</p>
</do>

<h2>Test 2</h2>

@try
{
	<do>
		<p>Should not display.</p>
	</do>
}
catch (Exception ex)
{
	<p>Expected exception occurred: '@ex.Message'.</p>
}